name: CI

on:
  push:
    paths-ignore:
      - README.md
  pull_request:
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Spoon zip
        run: |
          mkdir LeaderKey.spoon
          cp init.lua docs.json LeaderKey.spoon
          zip -r LeaderKey.spoon.zip LeaderKey.spoon
      - name: Upload spoon
        uses: actions/upload-artifact@v4
        with:
          name: LeaderKey.spoon.zip
          path: LeaderKey.spoon.zip
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: LeaderKey.spoon.zip
